/* ==========BASIC UNIVERSAL STYLING & CLEAN UP============= */
    /* some basic css resetting */
body {
    background-image: url(../images/ryan-dewerff-6erhLtR1U7I-unsplash.jpg);
    background-color: #0FAACE; /* Used if the image is unavailable */
    height: 500px; 
    background-size:cover;
    background-attachment: fixed; /* Background will stay in position as content scrolls over the top of it */
    background-position: center; 
    background-repeat: no-repeat;
    font-size:120%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px;
    height: 100%;
    width: 100%;
}
html {
    height: 100%;
    width: 100%;
}
a {
    color: #000000;
    text-decoration: none;
}

/* ==========HEADER============= */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; /*Make sure nav bar appears over the top of ther elements*/
}
/* ==========LOGO============= */
/* ==========NAVIGATION============= */
nav {
    background: linear-gradient(to right, #7EBFCD, #C0EAF4);
    margin: auto auto; /*Center child elements*/
    text-align: left;
    vertical-align: center;
    display: flex;
    height: 75px;
    border-bottom: 4px solid #178ca7; /*Make a clearer transition from nav to main content section*/
    
}

@font-face { /* Import Font for main content  */
    font-family: "Quicksand-Light";
    src: url("../fonts/Quicksand-Light.ttf");
} 

@font-face { /* Import main content font - bolder design*/
    font-family: "Quicksand-Medium";
    src: url("../fonts/Quicksand-Medium.ttf");
}    

@font-face { /* Import client's chosen font*/
    font-family: "AvenirNext-UltraLight";
    src: url("../fonts/AvenirNext-UltraLight.ttf");
}  

#nectar-brand-text{
    display: inline-flex;
    font-family: "AvenirNext-UltraLight";
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    padding-bottom: 10px; /*make element slightly bigger for better centering of font*/
}

#top-of-page-link{
    display: inline-flex;
    margin-top: auto;
    margin-bottom: auto;
}

nav img{ /*Site Logo*/
    display: inline-flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    height: 50px;
    width: 50px;
}

#nav-links {
    display: inline-flex;
    padding-top: 5px; /*push nav links down a little to align better with logo*/
    margin-left: 20px;
}

#nav-links a{
    /*max-height: 100px;*/
    margin-top: auto;
    margin-bottom: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 20px;
}

#nav-links a:hover{ 
    text-decoration: underline; /* Make it clear when a link is being hovered*/
}

.hamburger-menu {
    display: none; /*Don't show hamburger menu on desktop/tablet*/
}

/* ==========MAIN BODY CONTENT============= */
.home{
    width: 100%;
    height: 100vh;
    background-image: url(../images/ibrahim-rifath-NJ7CaVfWYaw-unsplash.jpg);
    background-size:cover;
    background-attachment: fixed; /* Background will stay in position as content scrolls over the top of it */
    background-position: center; 
    text-align: right;
}

.home h1 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 400px;
    margin-bottom: 50px; /*Align heading with drink can*/
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    text-align: right;
    width: 60%;
}

.home-img-container{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 50px;
    margin-bottom: 50px;
}

.home img{
    width: 300px;
    height: 600px;
}

.page-content{  /* Parent container flex box*/
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.left-content{ /* Child container for articles, aligned left */
    flex: 1;
    margin-top: 45px;
    min-width: 40%;
    max-width: 40%;
    text-align: left;
}

.left-content-section p {
    text-align: left;
    font-size: 20px;
    margin: 20px;
    margin-bottom: 0;
    font-family: "AvenirNext-UltraLight";
    font-weight: bold;
}

.right-content{ /* Child container articles, aligned right */
    flex: 1;
    margin-top: 40px;
    max-width: 1200px;
}

h2{
    font-family: "AvenirNext-UltraLight";
    font-size: 80px;
    margin: 20px;
    text-align: center;
}

/* Give Article's 100% view height*/
#Contact, #Stockists, #Our-Story{
    height: 100vh;
}

/* ==========SECTION 1 STYLING============= */

.left-content-section {
    margin: 20px;
}

#products-left-section p {
    height: 240px;
}

#product-description-home span {
    display: block;
    padding-bottom: 25px;
    text-align: center;
}

.description-title{
    display: block;
    font-family: "Quicksand-Medium";
}

.description{
    margin-top: 20px;
    display: block;
}

.availability{
    display: block;
    font-family: "Quicksand-Medium";
    margin-top: 20px;
    text-align: right;
}

#aloe-img-container{
    text-align: center;
}

#aloe-img {
    width: 90%;
    height: 90%;  
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;  
 }

/* =============== Products Display ============== */
.parent-product{ /*Parent Class for All Products*/
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.child-product-container{ /* Child Class for Single Products*/
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 325px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
    margin: 10px;
}

.child-product-container:hover{
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: rgba(255, 255, 255, 0.3) 0px 4px 8px;
}

.child-product-container img{
    margin: auto;
    width: 100px;
    height: 200px;
    vertical-align: middle; 
}

.product-type{
    font-weight: 600;
}

/* Descriptions for all drinks */
#product-description-drink1, #product-description-drink2, #product-description-drink3, 
#product-description-drink4, #product-description-drink5, #product-description-drink6 {
    display:none; /*Display is hidden until item is clicked*/
}

/* ==========SECTION 2 STYLING============= */
/* ====== Image Slideshow. Source: https://www.w3schools.com/howto/howto_js_slideshow.asp ====== */

/* Slideshow container */
.slideshow-container {
    max-width: 700px;
    position: relative;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .slideshow-container img{
    margin-top: 50px;
    max-width: 700px;
  }

  /* Hide the images by default */
  .our-story-slideshow {
  display:none;
  }

  /* Display the first image */
  #default-slideshow-img{
    display: block;
  }

  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev{
    left: 0;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .our-story-slideshow-caption {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: "Quicksand-Medium";
    font-weight: bold;
  }

/* ==========SECTION 3 STYLING============= */

.parent-stockists{ /*Parent Class for All Stockists*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.child-stockists{ /* Child Class for Stockists*/
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
    margin: 10px;
    padding-bottom: 20px;
}

.child-stockists p {
    font-size: 14px;
}

.stockist-title{
    font-weight: bold;
    margin: 0; /*Remove applied margin*/
    margin-top: 20px; /*Reapply top margin*/
}

/*Center the google maps iframe*/
.child-stockists iframe {
    width: 210px; 
    height: 150px;
    margin: auto;
}

/* ==========SECTION 4 STYLING============= */

#contact-left-section p{
    text-align: center;
}

input[type=text], input[type=textarea] {
    display: block;
    margin: auto;
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(192, 192, 192);
    
}

#message {
    height: 150px;
}   

form {
    text-align: left;
    width: 50%;
    margin: auto;
}

label {
    font-size: 12px;
    margin-bottom: 10px;
}



/* ==========FOOTER STYLIING============= */
footer {
    display: block;
    width: 100%;
    background-color: #7EBFCD;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
 }

 footer p {
    margin:0;
    margin: auto;
    padding: 5px;
    width: 50%;
    font-size: 10px;
    text-align: center;
 }

/* ==========RESPONSIVE DESIGN============= */

/* ===== SMALL DESKTOP: Media queries for laptop/small desktop ===== */
@media only screen and (max-width: 1366px) { 
    .hamburger-menu{ /*Dont show hamburger menu on desktop or tablet*/
        display: none;
    }

    .home h1 {
        font-size: 120px;
    }

    #aloe-img-container{
        display: none; /*Once screen size becomes small, remove Aloe image decoration*/
    }

    .left-content{ /* Child container for articles, aligned left */
        margin: 0;
        max-width: 30%;
        min-width: 30%;
        text-align: left;
    }
    
    .left-content-section p {
        margin: 10px;
        margin-bottom: 0;
    }
    
    .right-content{ /* Child container articles, aligned right */
        margin: 0px;
        max-width: 80%;
    }     
    
    .child-product-container{ /* Child Class for Single Products*/
        width: 200px;
        height: 275px;
        margin: 5px;
    }

    .child-product-container img{
        width: 75px;
        height: 150px;
        vertical-align: middle; 
    }

    .child-product-container p{ 
        font-size: 12px;
    }

    h2{
        font-size: 50px;
        margin: 10px;
    }

    .left-content-section p {
        font-size: 18px;
    }

    .child-stockists{ /* Child Class for Stockists*/
        width: 200px;
        height: 200px;
        margin: 5px;
        padding-bottom: 10px;
    }
    
    .child-stockists p {
        font-size: 10px;
    }
    
    .stockist-title{
        margin-top: 10px; /*Reapply top margin*/
    }
    
    /*Center the google maps iframe*/
    .child-stockists iframe {
        width: 160px; 
        height: 140px;
    }

    #Contact, #Stockists {
        height: 75vh;
    }

}

/* ===== TABLET: Media queries for verticle and horizontal ===== */
@media only screen and (max-width: 1024px) { 
    .hamburger-menu{ /*Dont show hamburger menu on desktop or tablet*/
        display: none;
    }

    #Our-Story .left-content, #Products .left-content {
        min-width: 100%;
    }

    #products-left-section p {
        height: auto;
    }

    #Products .right-content {
        min-width: 100%;
    }

    .slideshow-container {
    padding-top: 0;
    }

    .slideshow-container img {
        max-width: 500px;
        margin-top: 0;
    }

    .prev, .next {
        top: 30%; /*Align slideshow buttons to be more centered with image*/
    }

    .child-stockists{ /* Child Class for Stockists*/
        width: 150px;
        height: 150px;
        margin: 2px;
        padding-bottom: 5px;
    }
    
    .child-stockists p {
        font-size: 5px;
    }
    
    .stockist-title{
        margin-top: 5px; /*Reapply top margin*/
    }
    
    /*Center the google maps iframe*/
    .child-stockists iframe {
        width: 120px; 
        height: 120px;
    }

    .child-product-container{ /* Child Class for Single Products*/
        width: 175px;
        height: 225px;
        margin: 5px;
    }   

    .child-product-container img{
        width: 75px;
        height: 150px;
    }

    .child-product-container p  {
        font-size: 10px;
    }

    .home h1 {
        font-size: 80px;
        padding-right: 275px;
    }

    .home img {
        width: 200px;
        height: 400px;
    }
      
    
}

/* ===== MOBILE: Media queries for small mobile resolution. ===== */


@media only screen and (max-width: 360px) { 
            
      
    /* ===== MOBILE: HAMBURGER MENU  ===== */
    /* ===== Reference: https://www.w3schools.com/howto/howto_js_mobile_navbar.asp  ===== */
    #nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 75px; /*Position drop down beneath navbar*/
        left: 0px; /*Position drop down beneath navbar*/
        background-color: #178ca7;
        width: 100%;
        margin-left: 0; /*Remove margin on mobile so menu fills width of page*/
      }
      
      nav a  {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .hamburger-menu {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding-right: 5px;
        width: 55px;
        height: 50px;
      }
      
      nav a:hover {
        background-color: #178ca7;
      }

      #top-of-page-link:hover { /*Remove background color from appearing when hovvering over logo*/
        background-color: initial;
    }

      /* ===== MOBILE: Resize elements for responsiveness  ===== */

      #footer-img { /*Make footer picture disappear on mobile*/
       display: none;
     }

     #nectar-brand-text{
        font-size: 30px;
        margin-left: 10px;
        padding-bottom: 5px; /*make element slightly bigger for better centering of font*/
    }

    nav img{
        height: 40px; /*Make logo slightly smaller on mobile*/
        width: 40px;
        margin-left: 0px;
    }

    footer p { /*Now that footer picture is hidden we can display footer p as 100%*/
        width: 100%;
     }

    body {
        font-size:80%;
    }      
    
    /*Make Product Description Stick over the top of products as user scrolls
    so that they can still see product descriptions without scrolling up*/
    #Products .left-content {
        background-image: url(../images/mobile-ryan-dewerff-6erhLtR1U7I-unsplash.jpg);
        position: sticky;
        top: 0;

    }

    .home h1 {
        font-size: 40px;
        padding-right: 40px;
        padding-bottom: 220px;
    }

    .home img {
        width: 100px;
        height: 200px;
    }

    .page-content {
        padding: 0;
    }

    h2{
        font-size: 40px;
        margin: 5px;
    }

    #product-description-home span {
        display: block;
        padding-bottom: 25px;
        text-align: center;
    }

    .left-content-section {
        margin: 0px;
      }

      .left-content-section p {
        font-size: 14px;
      }

      #products-left-section p {
        margin-top: 50px;
    }

    .child-product-container{ /* Child Class for Single Products*/
        width: 100vh; /*Small screen so fill width*/
        height: 300px;
        margin: 5px;
    }   

    .child-product-container img{
        width: 75px;
        height: 150px;
    }

    .child-product-container p  {
        font-size: 10px;
    }

    .slideshow-container {
        display: none; /*Hide slideshow on mobile*/
    }

    body {
        background-image: url(../images/mobile-ryan-dewerff-6erhLtR1U7I-unsplash.jpg);
    }

    #Our-Story .left-content, #Stockists .left-content, #Contact .left-content {
        min-width: 100%;
    }

    #Contact, #Stockists, #Our-Story {
        height: auto;
    }

    .child-stockists{ /* Child Class for Stockists*/
        width: 100%;
        height: 300px;
        margin: 0;
        margin-bottom: 20px;
        margin-top : 20px;
        padding-bottom: 20px;
    }
    
    .child-stockists p {
        font-size: 16px;
    }
    
    .stockist-title{
        margin-top: 10px; /*Reapply top margin*/
    }
    
    /*Center the google maps iframe*/
    .child-stockists iframe {
        width: 250px; 
        height: 225px;
    }

    #Stockists .right-content {
        max-width: 100%;
    }

    form {
        width: 100%;
        padding-bottom: 20px;
      }
        
}


